{deps, [
    {lager, "3.9.1", {git, "https://github.com/erlang-lager/lager.git",
                           "c5447d2d85a0d446d41a79bffe0a6a66bd50c901"}},
    {cutkey, ".*", {git, "https://github.com/tetram2674562/cutkey.git",
                         "912011b362609dd15564458de038aaa1d3a80073"}},
    {cheatcraft, ".*", {git, "https://github.com/lordnull/CheatCraft.git",
                             "4d6dcf881218abce0c69cf07b184127c6a1dfd7e"}}
]}.

{erl_opts, [
        {parse_transform, lager_transform}
]}.
